.expericenceBorder {
    background-image: linear-gradient(90deg, rgb(29, 29, 29), rgb(29, 29, 29)),
      linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%), hsl(266, 78%, 55%));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border-color: transparent;
    border-radius: 2rem;
    box-shadow: 3px -3px 10px rgba(74, 192, 192, 0.438);
  }

  .testimonials {
    background-image: linear-gradient(90deg, rgb(29, 29, 29), rgb(29, 29, 29)),
      linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%), hsl(202, 78%, 55%));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border-color: transparent;
    border-radius: 1.75rem;
    box-shadow: 1px -1px 10px rgba(74, 192, 192, 0.438);
  }

.headertext {
  background: linear-gradient(90deg, hsl(289, 52%, 60%), hsl(226, 78%, 67%),  hsl(30, 2%, 19%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  background-color: white;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: rgb(37, 32, 32);
  font-size: 1.5rem;
}

.submitbtn {
  border: 5em;
  cursor: pointer;
  outline: none;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
 }
 