@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .introButtons {
        @apply px-3 py-2 border border-[#242424] rounded-full text-sm uppercase tracking-widest text-gray-500 transition-all hover:border-[#f7ab0a]/40 hover:text-[#f7ab0a]/40 
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-gray-500 transition-all hover:border-[#f7ab0a]/40 focus:border-[#f7ab0a]/40 focus:text-[#f7ab0a]/40 placeholder-gray-500 placeholder:capitalize text-xl
    }
}